* {
  padding: 0;
}

li {
  list-style: none;
}

input {
  font-size: 20px;
  width: 300px;
  outline: none;
}

button {
  width: 100px;
  padding: 8px;
  border: 0px;
  outline: none;
  color: black;
  cursor: pointer;
}

textarea {
  display: block;
}

button:hover {
  background-color: grey;
}

img {
  width: 250px;
  height: 400px;
}

#movie-image {
  width: 150px;
  height: 250px;
}

.search-result-list {
  display: flex;
  justify-content: space-between;
}

.search-result-item {
  cursor: pointer;
}

.search-result-item:hover {
  background-color: lightgrey;
}

.review-item {
  width: 500px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2)
}

.invisible {
  display: none;
}